body {
    font-family: Arial, sans-serif;
    background-color: #f8f9fa;
    margin: 0;
    padding: 0;
}

.navbar {
    display: flex;
    justify-content: space-between; 
    align-items: center;
    /* background-color: #f9fafc; */
    color: white;
    padding: 15px;
}

.ml-auto {
    margin-left: auto; 
}

.container {
    max-width: 800px;
    margin: auto;
    padding: 20px; 
    display: flex; 
    flex-direction: column; 
    align-items: center; 
}

.card {
    background-color: white;
    border-radius: 8px; 
    box-shadow: 0 2px 10px rgba(0, 0, 0, 0.1); 
    margin-bottom: 20px; 
    width: 100%; 
    max-width: 600px;
    text-align: center; 
}

.card-body {
    padding: 20px; 
}

.card-title {
    font-size: 28px;
    margin-bottom: 10px;
}

.card-subtitle {
    font-size: 20px;
    color: #6c757d;
}

.card-text {
    font-size: 24px;
    color: #28a745;
}

.btn {
    background-color: #28a745; 
    color: white; 
    border: none; 
    padding: 10px 20px; 
    border-radius: 5px; 
    cursor: pointer; 
    transition: background-color 0.3s ease;
    display: inline-block;
    margin-top: 10px;
}

.btn:hover {
    background-color: #218838; 
}

.navbar-brand {
    color: white;
    text-decoration: none;
    font-size: 24px;
}

.cart-icon {
    color: rgb(0, 0, 0);
    text-decoration: none;
    display: flex;
    /* align-items: center; */
}

.cart-badge {
    background-color: red;
    color: white;
    border-radius: 50%;
    padding: 2px 6px;
    position: absolute;
    top: -5px;
    right: -10px;
    font-size: 12px;
}
#additionalDetails {
    background-color: white; 
    border-radius: 8px; 
    box-shadow: 0 2px 10px rgba(0, 0, 0, 0.1); 
    padding: 20px;
    width: 100%; 
    max-width: 600px; 
    margin: 20px auto; 
    text-align: center; 
}